[Unit]
Description=Antd Publisher Service
After=antd.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
WorkingDirectory=/opt/www
ExecStart=/opt/www/bin/runnerd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
